<div class="flex gap-8 flex-col font-sans-serif sm:flex-row sm:gap-16 lg:gap-4 w-full">
    <div class="relative flex flex-col items-center sm:w-1/2">
        <img src="../../assets/img-1.png" class="sm:w-full lg:w-3/5" alt="david">
        <div class="bg-heading text-white px-4 py-2 text-center absolute -bottom-5 sm:-bottom-3 right-2 sm:-right-5 lg:right-40 flex items-center gap-2">
            <h3 class="text-4xl font-medium">23</h3>
            <p class="uppercase text-xs text-left">years <br> of <br> experience</p>
        </div>
    </div>
    <div class="relative flex flex-col gap-5 pt-8 sm:w-1/2 lg:pt-24">
        <div class="flex items-center gap-4">
            <span class="w-20 h-spanHeight bg-heading"></span>
            <h3 class="text-lg text-left text-heading uppercase tracking-bigger">about us</h3>
        </div>
        <h2 class="text-black text-headerFont sm:text-4xl lg:text-7xl lg:w-3/4 uppercase font-bold">transport & <span class="text-heading">Logistics</span></h2>
        <p class="font-light text-paragraph lg:w-4/5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur deserunt ad, 
            corrupti sit voluptates at praesentium optio sapiente nisi ratione! Suscipit 
            perferendis repellendus odit quae totam eos cupiditate veritatis autem.
        </p>
        <p class="font-light text-paragraph lg:w-4/5">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque eius, 
            odit excepturi laboriosam.
        </p>
        <div class="w-full flex gap-4 items-center justify-end lg:absolute lg:bottom-32 lg:right-32">
            <img src="../../assets/twitter.svg" alt="twitter-img">
            <img src="../../assets/facebook.svg" alt="facebook-img">
            <img src="../../assets/ig.svg" alt="instagram-img">
        </div>
    </div>
</div>