<div class="flex gap-8 flex-col font-sans-serif">
    <div class="relative flex flex-col items-center">
        <img src="../../assets/img-1.png" alt="david">
        <div class="bg-heading text-white px-4 py-2 text-center absolute -bottom-5 right-6 flex items-center gap-2">
            <h3 class="text-4xl font-medium">23</h3>
            <p class="uppercase text-xs text-left">years <br> of <br> experience</p>
        </div>
    </div>
    <div class="flex items-start gap-6 pt-8">
        <div class="flex items-center gap-4 mb-5">
            <span class="w-20 h-spanHeight bg-heading"></span>
            <h2 class="text-lg text-left text-heading uppercase tracking-bigger">about us</h2>
        </div>
    </div>
</div>