<header 
    class="flex items-center justify-between w-full h-20 bg-black fixed top-0 z-10 px-8 py-12 border-b-2 border-borderColor shadow-lg lg:px-24 lg:py-12"
>
    <div class="flex items-center gap-1">
        <img src="../../assets/logo.svg" alt="logo-image">
        <h1 class="text-white text-3xl flex font-bold">
            <span class="text-heading">UN</span>
            PACK
        </h1>
    </div>
    <nav class="hidden lg:block">
        <ul class="lg:text-white uppercase text-lg tracking-widest">
            <li class="lg:block lg:float-left lg:mx-5">
                <a 
                    routerLink="" 
                    class="active:text-heading after:content-[''] after:block after:bg-heading after:w-0 after:h-hoverHeight after:m-auto after:hover:w-full"
                >
                    Home
                </a>
            </li>
            <li class="lg:block lg:float-left lg:mx-5">
                <a 
                    routerLink="" 
                    class="active:text-heading after:content-[''] after:block after:bg-heading after:w-0 after:h-hoverHeight after:m-auto after:hover:w-full"
                >
                    About Us
                </a>
            </li>
            <li class="lg:block lg:float-left lg:mx-5">
                <a 
                    routerLink="" 
                    class="active:text-heading after:content-[''] after:block after:bg-heading after:w-0 after:h-hoverHeight after:m-auto after:hover:w-full"
                >
                    Services
                </a>
            </li>
            <li class="lg:block lg:float-left lg:mx-5">
                <a 
                    routerLink="" 
                    class="active:text-heading after:content-[''] after:block after:bg-heading after:w-0 after:h-hoverHeight after:m-auto after:hover:w-full"
                >
                    Features
                </a>
            </li> 
            <li class="lg:block lg:float-left lg:mx-5">
                <a 
                    routerLink="" 
                    class="active:text-heading after:content-[''] after:block after:bg-heading after:w-0 after:h-hoverHeight after:m-auto after:hover:w-full"
                >
                    Blog
                </a>
            </li>       
        </ul>
    </nav>
    <div class="hidden lg:flex lg:items-center gap-4">
        <a 
            routerLink="" 
            class="text-white uppercase text-lg bg-heading tracking-widest py-3 px-7 rounded-md shadow-lg hover:bg-orange-500"
        >
            contact us
        </a>
    </div>
    <div class="lg:hidden">
        <img src="../../assets/Hamburger Menu.svg" alt="hamburger-menu" (click)="toggleMenu()">
        <img src="../../assets/close.svg" class="hidden" alt="close-menu">
    </div>
</header>