<div class="relative w-full h-homeHeight">
    <div class="bg-black">
        <img src="../../assets/cargo.png" class="opacity-15 w-full h-homeHeight" alt="cargo-image">
    </div>
    <div class="absolute top-20 left-5 flex flex-col items-center gap-8 h-auto font-sans-serif">
       <div class="flex flex-col items-center">
            <div class="flex items-center gap-4 mb-3">
                <span class="bg-white w-16 h-spanHeight"></span>
                <h4 class="uppercase text-white text-lg tracking-bigger font-light">fast & secure move</h4>
            </div>
            <h1 class="text-5xl leading-lineHeight uppercase text-white text-center font-bold mb-5">
                moving was <br> never <br> <span class="text-heading">so easy</span>
            </h1>
            <div class="flex items-center text-white">
                <p class="uppercase text-lg font-medium z-10">Get started</p>
                <div class="bg-orange-700 w-11 h-11 rounded-full -ml-2">
                    <img src="../../assets/arrow.svg" class="block mx-auto py-3" alt="arrow-icon">
                </div>
            </div>
       </div>

       <div class="flex items-center gap-6">
            <span>
                <h6 class="text-heading uppercase text-sm font-medium tracking-wide text-center">Relocation</h6>
                <p class="text-white text-3xl font-bold text-center">80 +</p>
            </span>
            <span>
                <h6 class="text-heading uppercase text-sm font-medium tracking-wide text-center">Client</h6>
                <p class="text-white text-3xl font-bold text-center">12 k</p>
            </span>
            <span>
                <h6 class="text-heading uppercase text-sm font-medium tracking-wide text-center">Moving House</h6>
                <p class="text-white text-3xl font-bold text-center">150 +</p>
            </span>
       </div>
    </div>
</div>