<div class="relative w-full h-homeHeight">
    <div class="bg-black">
        <img src="../../assets/cargo.png" class="opacity-15 w-full h-homeHeight" alt="cargo-image">
    </div>
    <div class="absolute top-20 sm:top-48 lg:top-28 px-4 flex flex-col items-center sm:flex-row sm:justify-between lg:flex-row lg:justify-between w-full gap-8 h-auto font-sans-serif sm:px-20 lg:px-28">
       <div class="flex flex-col items-center sm:items-start">
            <div class="flex items-center gap-4 mb-3">
                <span class="bg-white w-16 h-spanHeight"></span>
                <h4 class="uppercase text-white text-lg sm:text-2xl tracking-bigger font-light">fast & secure move</h4>
            </div>
            <h1 class="text-5xl sm:text-6xl lg:text-8xl leading-lineHeight uppercase text-white text-center sm:text-left font-bold mb-5">
                moving was <br> never <br> <span class="text-heading">so easy</span>
            </h1>
            <div class="flex items-center text-white">
                <p class="uppercase text-lg font-medium z-10">Get started</p>
                <div class="bg-orange-700 w-11 h-11 rounded-full -ml-2">
                    <img src="../../assets/arrow.svg" class="block mx-auto py-3" alt="arrow-icon">
                </div>
            </div>
       </div>

       <div class="flex items-center gap-6 sm:flex-col lg:flex-col lg:gap-10">
            <span>
                <h6 class="text-heading uppercase text-sm sm:text-lg lg:text-xl font-medium tracking-wide text-center mb-3">Relocation</h6>
                <p class="text-white text-3xl sm:text-4xl lg:text-6xl font-bold text-center">80 +</p>
            </span>
            <span>
                <h6 class="text-heading uppercase text-sm sm:text-lg lg:text-xl font-medium tracking-wide text-center sm:text-right mb-3">Client</h6>
                <p class="text-white text-3xl sm:text-4xl lg:text-6xl font-bold text-center">12 k</p>
            </span>
            <span>
                <h6 class="text-heading uppercase text-sm sm:text-lg lg:text-xl font-medium tracking-wide text-center lg:text-left mb-3">Moving House</h6>
                <p class="text-white text-3xl sm:text-4xl lg:text-6xl font-bold text-center">150 +</p>
            </span>
       </div>
    </div>
</div>