<div class="relative w-full h-homeHeight">
    <div class="bg-black">
        <img src="../../assets/cargo.png" class="opacity-20 w-full h-homeHeight" alt="">
    </div>
    <div class="absolute top-20 left-5 flex flex-col items-center border-2 border-white h-auto font-sans-serif">
        <div class="flex items-center gap-4 mb-3">
            <span class="bg-white w-16 h-spanHeight"></span>
            <h4 class="uppercase text-white text-lg tracking-bigger font-light">fast & secure move</h4>
        </div>
        <h1 class="text-5xl leading-lineHeight uppercase text-white text-center font-bold mb-5">
            moving was <br> never <br> <span class="text-heading">so easy</span>
        </h1>
        <div class="flex items-center text-white">
            <p class="uppercase text-lg font-medium z-10">Get started</p>
            <div class="bg-heading w-11 h-11 rounded-full -ml-2">
                <img src="../../assets/arrow.svg" class="block mx-auto py-2" alt="">
            </div>
        </div>
    </div>
</div>