<div class="relative w-full h-auto">
    <div class="bg-black">
        <img src="../../assets/img-10.png" class="opacity-20 w-full h-servicesHeight" alt="asian-woman">
    </div>
    <div class="absolute top-10 left-44 w-4/5 flex flex-col items-center py-12">
        <div class="flex items-center gap-4 mb-6">
            <span class="w-20 h-spanHeight bg-heading"></span>
            <h3 class="text-lg text-heading uppercase tracking-bigger">our services</h3>
        </div>
        <h2 
            class="text-6xl uppercase text-white font-bold tracking-wide mb-20"
        >
            precise & <span class="text-heading">hardworking</span>
        </h2>
        <div class="grid grid-cols-3 gap-40 pt-16">
            <div class="relative bg-cards flex flex-col items-center py-10 px-12 w-80 h-80 gap-6 cursor-pointer">
                <img src="../../assets/world.svg" class="absolute -top-16 w-24" alt="world-moving">
                <h5 class="uppercase text-smallHeading tracking-wide text-2xl mt-6 font-bold">world moving</h5>
                <p class="text-center text-paragraph text-lg">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,
                    sed do eiusmod tempor.
                </p>
                <h5 class="uppercase text-smallHeading tracking-wide text-2xl underline">get started</h5>
            </div>
            <div class="relative bg-heading flex flex-col items-center py-10 px-12 w-80 h-80 gap-6 text-white cursor-pointer">
                <img src="../../assets/storage.svg" class="absolute -top-16 w-24" alt="world-moving">
                <h5 class="uppercase tracking-wide text-2xl mt-6 font-bold">storage units</h5>
                <p class="text-center text-lg">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,
                    sed do eiusmod tempor.
                </p>
                <h5 class="uppercase tracking-wide text-2xl underline">get started</h5>
            </div>
            <div class="relative bg-cards flex flex-col items-center py-10 px-12 w-80 h-80 gap-6 cursor-pointer">
                <img src="../../assets/kits.svg" class="absolute -top-16 w-24" alt="world-moving">
                <h5 class="uppercase text-smallHeading tracking-wide text-2xl mt-6 font-bold">moving kits</h5>
                <p class="text-center text-paragraph text-lg">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,
                    sed do eiusmod tempor.
                </p>
                <h5 class="uppercase text-smallHeading tracking-wide text-2xl underline">get started</h5>
            </div>
        </div>
    </div>
</div>