<div class="relative w-full h-screen md:h-auto">
    <div class="bg-black">
        <img src="../../assets/img-10.png" class="opacity-20 w-full h-screen md:h-servicesHeight" alt="asian-woman">
    </div>
    <div class="w-full absolute top-0 px-10 lg:top-10 md:px-0 lg:left-44 lg:w-4/5 flex flex-col items-center py-12 lg:px-0">
        <div class="flex items-center gap-4 mb-2 md:mb-6">
            <span class="w-20 h-spanHeight bg-heading"></span>
            <h3 class="text-base md:text-lg text-heading uppercase tracking-bigger">our services</h3>
        </div>
        <h2 
            class="text-3xl text-center md:text-5xl lg:text-6xl uppercase text-white font-bold tracking-wide mb-10 md:mb-20"
        >
            precise & <span class="text-heading">hardworking</span>
        </h2>
        <div class="flex flex-col items-center md:grid md:grid-cols-3 gap-12 lg:gap-40 pt-4 md:pt-16">
            <div class="relative bg-cards flex flex-col items-center w-60 h-auto gap-3 pb-4 md:py-10 md:px-8 lg:px-12 md:w-64 lg:w-96 md:h-80 cursor-pointer">
                <img src="../../assets/world.svg" class="absolute -top-10 md:w-20 md:-top-12 lg:-top-16 lg:w-24" alt="world-moving">
                <h5 class="uppercase text-smallHeading tracking-wide text-base md:text-2xl mt-6 font-bold">world moving</h5>
                <p class="text-center text-paragraph text-sm md:text-lg">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,
                    sed do eiusmod tempor.
                </p>
                <h5 class="uppercase text-smallHeading tracking-wide md:text-2xl underline">get started</h5>
            </div>
            <div class="relative bg-heading flex flex-col items-center w-60 h-auto gap-3 pb-4 md:py-10 md:px-8 lg:px-12 md:w-64 lg:w-96 md:h-80 md:gap-6 text-white cursor-pointer">
                <img src="../../assets/storage.svg" class="absolute -top-10 md:w-20 md:-top-12 lg:-top-16 lg:w-24" alt="storage-units">
                <h5 class="uppercase tracking-wide md:text-2xl mt-6 font-bold text-base">storage units</h5>
                <p class="text-center text-sm md:text-lg">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,
                    sed do eiusmod tempor.
                </p>
                <h5 class="uppercase tracking-wide md:text-2xl underline">get started</h5>
            </div>
            <div class="relative bg-cards flex flex-col items-center w-60 h-auto gap-3 pb-4 md:py-10 md:px-8 lg:px-12 md:w-64 lg:w-96 md:h-80 md:gap-6 cursor-pointer">
                <img src="../../assets/kits.svg" class="absolute -top-10 md:w-20 md:-top-12 lg:-top-16 lg:w-24" alt="moving-kit">
                <h5 class="uppercase text-smallHeading tracking-wide md:text-2xl mt-6 font-bold text-base">moving kits</h5>
                <p class="text-center text-paragraph text-sm md:text-lg">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,
                    sed do eiusmod tempor.
                </p>
                <h5 class="uppercase text-smallHeading tracking-wide md:text-2xl underline">get started</h5>
            </div>
        </div>
    </div>
</div>